
/******** SITE STYLES ********** */
#main-container {
  width: 600px;
  clear: both;
  margin: 0px auto;
  font-family: "Lato", sans-serif;
  padding: 10px 10px 45px 10px;
  position: relative;
  z-index: 1000; }
  #main-container a {
    text-decoration: none; }
  @media (max-width: 600px) {
    #main-container {
      width: 90%; } }

header {
  background-color: black;
  width: 100%;
  float: left;
  min-height: 50px; }
  header #sun-logo img {
    width: 150px;
    float: left;
    margin: 20px 0 0 8px;
    border-right: 1px solid white;
    padding-right: 15px; }
    @media (max-width: 870px) {
      header #sun-logo img {
        border: 0;
        float: right; } }
  header #menu-bars {
    padding: 10px;
    font-size: 30px;
    float: left;
    display: none;
    background-color: black;
    border-right: 1px solid white; }
    header #menu-bars:hover {
      cursor: pointer;
      background-color: #666666; }
    @media (max-width: 870px) {
      header #menu-bars {
        display: block; } }

#nav ul li {
  float: left;
  color: white;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding: 0 10px;
  line-height: 53px; }
  #nav ul li a {
    text-decoration: none; }
@media (max-width: 870px) {
  #nav {
    display: none; } }

ul#mobile-nav {
  top: 51px;
  left: 0;
  position: absolute;
  z-index: 1000001;
  padding: 0 0 8px 0;
  background-color: black;
  display: none; }
  ul#mobile-nav a {
    text-decoration: none; }
  ul#mobile-nav li {
    border-bottom: 1px solid white;
    color: white;
    font-weight: 600;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    padding: 0 8px 0 8px;
    line-height: 45px; }
    ul#mobile-nav li:hover {
      background-color: #666666; }

#title-container {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: 450px;
  margin: 0px auto; }
  #title-container #title {
    font-family: "Georgia", "Times", serif;
    font-size: 65px;
    padding: 30px 0 25px 0;
    width: 450px;
    text-align: center;
    border-bottom: 5px solid black; }
    #title-container #title span {
      color: black; }
    @media (max-width: 600px) {
      #title-container #title {
        text-align: center;
        font-size: 56px; } }
    @media (max-width: 460px) {
      #title-container #title {
        text-align: left;
        font-size: 40px; } }  
    @media (max-width: 400px) {
      #title-container #title {
        text-align: left; } }         

#tagline {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 700;
  padding-bottom: 35px; }
  #tagline span {
    padding: 0 8px 0 0; }

@media (max-width: 860px) {
  #ad-container {
    display: none; } }

#mobile-ad-container {
  width: 100%;
  margin-top: 15px;
  clear: both;
  display: none; }
  @media (max-width: 860px) {
    #mobile-ad-container {
      display: inline-block; } }

#google_image_div {
  text-align: center;
  padding: 25px 0 25px 0;
  clear: both; }

#google_image_div_mobile {
  display: none; }
  @media (max-width: 800px) {
    #google_image_div_mobile {
      display: inline-block;
      text-align: center;
      position: relative; } }

#top-story a {
  text-decoration: none; }

#top-story-image {
  margin-top: 15px; }
  #top-story-image img {
    margin: 0px auto;
    background-size: cover;
    width: 50%;
    float: left;
    padding-right: 10px;
    position: relative;
    z-index: 1000; }
    #top-story-image img:hover {
      cursor: pointer;
      opacity: 0.8; }
    @media (max-width: 600px) {
      #top-story-image img {
        width: 80%; } }

#top-story-headline {
  font-size: 30px;
  font-family: "Georgia", "Times", serif;
  line-height: 33px;
  padding-right: 10px; }
  #top-story-headline a {
    text-decoration: none; }
  #top-story-headline:hover {
    cursor: pointer;
    color: #666666; }
  @media (max-width: 600px) {
    #top-story-headline {
      font-size: 18px;
      line-height: 20px;
      width: 90%;
      clear: both;
      padding: 10px 0 10px 0;
      /*border-bottom: 0px solid #e0e0e0;*/ } }

#top-story-desc {
  font-size: 18px;
  font-family: "Georgia", "Times", serif;
  line-height: 20px;
  margin-top: 15px;
  color: #666666; }
  @media (max-width: 600px) {
    #top-story-desc {
      font-size: 17px;
      line-height: 19px;
      width: 90%; } }

.date-time {
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
  text-align: left; }
  @media (max-width: 600px) {
    .date-time {
      font-size: 12px;
      line-height: 14px;
      margin-top: 8px; } }

.rank-number {
  background-color: black;
  padding: 10px 10px 15px 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  color: white;
  width: 20px;
  height: 15px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  z-index: 100001; }
  @media (max-width: 600px) {
    .rank-number {
      width: 6px;
      height: 7px;
      font-size: 14px;
      padding: 2px 15px 15px 10px; } }

#other-stories {
  padding: 25px 0 150px 0;
  clear: both; }

.other-story-contaniner {
  margin-top: 25px;
  display: inline-block; }
  @media (max-width: 600px) {
    .other-story-contaniner {
      margin-top: 0; } }

.other-story {
  clear: both; }
  @media (max-width: 600px) {
    .other-story {
      padding-bottom: 10px; } }

.other-stories-image {
  margin-top: 15px; }
  .other-stories-image img {
    margin: 0px auto;
    background-size: cover;
    width: 30%;
    position: relative;
    z-index: 1000;
    float: left; }
    .other-stories-image img:hover {
      cursor: pointer;
      opacity: 0.8; }
    @media (max-width: 600px) {
      .other-stories-image img {
        width: 80%;
        padding-bottom: 10px; } }

.other-stories-headline {
  font-size: 25px;
  font-family: "Georgia", "Times", serif;
  line-height: 33px;
  float: left;
  width: 50%;
  margin-left: 10px; }
  .other-stories-headline a {
    text-decoration: none; }
  .other-stories-headline:hover {
    cursor: pointer;
    color: #666666; }
  @media (max-width: 600px) {
    .other-stories-headline {
      font-size: 18px;
      line-height: 20px;
      text-decoration: none;
      margin-left: 0;
      width: 80%;
      padding-bottom: 10px;
      border-bottom: 1px solid #e0e0e0; } }

.other-stories-desc {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  margin-top: 15px;
  float: left; }

.date-time-other-stories {
  font-weight: 700;
  font-size: 14px;
  padding: 30px 0 10px;
  float: left;
  clear: both; }

@media (max-width: 600px) {
  #more-btn {
    width: 90%;
    margin-top: 15px; } }

.btn {
  background-color: #1c3454;
  color: white;
  width: 350px;
  padding: 10px;
  clear: both;
  margin: 0px auto;
  text-transform: uppercase;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px; }
  .btn:hover {
    background-color: #666666;
    cursor: pointer;
    transition: 0.3s; }

#more-stories-container {
  margin-top: 20px;
  clear: both;
  display: none; }

#transporter-container {
  width: 860px;
  clear: both;
  margin: 0px auto;
  padding: 25px 0 150px 0; }
  @media (max-width: 860px) {
    #transporter-container {
      display: none; } }

.transporter {
  margin-right: 18px;
  text-align: left;
  font-size: 14px;
  width: 200px;
  font-weight: 700;
  background-color: black;
  color: white;
  font-family: "Georgia", "Times", serif;
  float: left;
  margin-top: -22px;
  position: relative;
  z-index: 10001; }
  .transporter a {
    text-decoration: none; }
  .transporter img {
    position: relative;
    z-index: 100; }
  .transporter:hover {
    cursor: pointer;
    opacity: 0.8; }

.transporter-title {
  padding: 5px 0 5px 12px;
  text-align: left; }

.ad-container {
  display: block;
  margin: 45px 15px 15px 15px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  height: 111px; }
  @media (max-width: 750px) {
    .ad-container {
      display: none; } }

.mobile-ad-container {
  display: none;
  text-align: center;
  margin: 20px auto;
  padding: 15px 0 25px 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 90%; }
  @media (max-width: 750px) {
    .mobile-ad-container {
      display: inline-block; } }
  @media (max-width: 500px) {
    .mobile-ad-container {
      width: auto; } }

.ad-tagline {
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: darkgrey;
  text-transform: uppercase;
  text-align: left;
  width: 728px;
  margin: 0 auto; }
  @media (max-width: 750px) {
    .ad-tagline {
      width: auto;
      text-align: center; } }
